
#Input/Output folders
data/*
RAW_DATA/*
incoming/*
logs/*
static-data/*
.snakemake/*
test/*
data_new/*
external_data/*
validation_data/*

#Only for now
tests/*

#Rstudio & PyCharm
.RData
.Rhistory
.Rproj.user
CNV-pipeline.Rproj
.idea/

#Misc
*.xlsx
*.png
.git/*
*.test
*.pdf
supplemental_scripts/*
Notes.txt
**/*.pyc
